<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>회의실예약</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>

<div id="grid">
    <div class="header top-date">
        <span class="btn btn-danger" id="previous-week">이전 주</span>
        <h4>날짜: <span id="today">2018-08-28</span></h4>
        <span class="btn btn-danger" id="next-week">다음 주</span>
    </div>

    <div class="container sidebar">
        <h2>회의실선택</h2>
        <div id="meeting-room-list">
            <ul class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-meetingroom-modal" id="create-meetingroom">
            회의실추가
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-reservation-modal" id="create-reservation">
            예약하기
        </button>
    </div>
    <div class="container content">
        <table class="table table-striped" id="timetable"></table>
    </div>

    <div th:include="modal/modal-reservation :: fr-reservation"></div>
    <div th:include="modal/modal-reservation-update :: fr-reservation-update"></div>
    <div th:include="modal/modal-meetingroom :: fr-meetingroom"></div>
    <input type="hidden" id="hidden-monday"/>
</div>
<script src="/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/dist/js/bootstrap.min.js"></script>
<script>

    const WEEKDAY = {"MONDAY":1, "TUESDAY":2, "WEDNESDAY":3, "THURSDAY":4, "FRIDAY":5};
    const BGCOLOR   = ["#00FFFF","#7FFFD4","#0000FF","#8A2BE2","#A52A2A","#DEB887","#5F9EA0","#6495ED","#FF1493"];
    const FONTCOLOR = ["#000000","#000000","#7FFFD4","#00FFFF","#00FFFF","#A52A2A","#000000","#7FFF00","#FFE4C4"];

    $(document).ready(function () {
        drawMeetingRoom();
        drawToday();
        drawTimeScheduleTable();
    });

    $('#create-reservation-modal').on('shown.bs.modal', function () {
        $('#create-reservation').trigger('focus')
    });
    $('#create-meetingroom-modal').on('shown.bs.modal', function () {
        $('#create-meetingroom').trigger('focus')
    });

    $("#cmr-save").on("click", function(){
        var roomName = $("#cmr-name").val();

        var postData ={
            roomName: roomName,
        };

       $.ajax({
           url:"/room",
           type:"POST",
           data:JSON.stringify(postData),
           contentType:"application/json; charset=utf-8",
           dataType:"json",
       }).always(function(response) {
           if(response && response.code == "0000"){
               drawMeetingRoom();
           }else{
               alert(response.responseJSON.message);
           }
       });
    });

    $("#cr-save").on("click", function(){
       var postData ={
           memberName:$("#cr-member").val(),
           roomName:$("#cr-room").val(),
           date: $("#cr-date").val(),
           time: $("#cr-time").val(),
           repeat: $("#cr-repeat").val(),
           comment: $("#cr-comment").val()
           };

        $.ajax({
            url:"/reservation",
            type:"POST",
            data:JSON.stringify(postData),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).always(function(response) {
            if(response && response.code == "0000"){
                clearTimeScheduleTable();
                drawTimeScheduleTable();
                getReservationsByRoomName(selectedRoom.roomName);
            }else{
                alert(response.responseJSON.message);
            }
        });
    });

    function drawMeetingRoom(){
        $.get("/rooms", function(result){
            $("#meeting-room-list ul").empty();
            $.each(result, function(i, room){
                $('#meeting-room-list .list-group')
                    .append("<li onclick='getReservationsByRoomName(this.innerHTML)' class='list-group-item'>" + room.name + "</li>");
            });
        });
    }

    function clearTimeScheduleTable(){
        var table = document.getElementById("timetable");
        while(table.hasChildNodes()) {
            table.removeChild(table.firstChild);
        }
    }

    function drawTimeScheduleTable() {
        var table = document.getElementById("timetable");
        var head = table.insertRow(0);
        head.insertCell(0).innerHTML = '';
        head.insertCell(1).innerHTML = '월';
        head.insertCell(2).innerHTML = '화';
        head.insertCell(3).innerHTML = '수';
        head.insertCell(4).innerHTML = '목';
        head.insertCell(5).innerHTML = '금';

        var hour = 9;
        var min = 0;
        for(var i = 0; i < 19; i++){
            var row = table.insertRow(i + 1);
            if(i%2 === 0 && i > 0){
                hour++;
            }
            for(var j = 0 ; j < 6 ; j++){
                var cell = row.insertCell(j);
                min = i % 2 !== 0 ? 30 : 0;
                var strHour = hour < 10 ? '0' + hour : hour;
                var strMin = min < 10 ? '0' + min : min;
                if(j === 0){
                    cell.innerText = strHour + ":" + strMin;
                }
                cell.setAttribute("id", strHour.toString() + strMin.toString() + j.toString());
                cell.width = 50;
            }
        }
    }
    /*
    * 회의실에 예약된 방 조회.
    * */
    var selectedRoom = {};
    function getReservationsByRoomName(name, li){
        document.querySelectorAll(".list-group-item").forEach(r =>{
            if(r.innerHTML == name){
                $(r).css("background-color", "#DAA520");
            }else{
                $(r).css("background-color", "#FFFFFF");
            }
        });

        selectedRoom.roomName = name;
        clearTimeScheduleTable();
        drawTimeScheduleTable();

        const today = $("#today").text();

        $.get("/reservations/"+name + "?date=" + today, function(result){
            var colorIndex = Math.floor(Math.random() * BGCOLOR.length);
            Array.from(result).forEach(r =>{
                var comment = r.comment;
                var weekOfDay = WEEKDAY[r.dayOfWeek];
                var from = r.reservedTimeFrom;
                var to   = r.reservedTimeTo;
                var user = r.member.name;
                var repeatSeq = r.repeatSeq;
                var repeatTotal = r.repeatTotal;
                var repeatText ="";
                if(repeatTotal > 1){
                    repeatText = "<br/>[반복 " + (repeatSeq + 1) + "회 /" + repeatTotal +"]";
                }
                $("#"+from+weekOfDay).html(comment + "<br/>(" + user + ")" + repeatText);
                colorIndex = colorIndex % (BGCOLOR.length - 1);
                colorIndex++;

                for(let i = from ; i <= to ;){
                    let id = "#" + i + weekOfDay;
                    $(id).css("background-color", BGCOLOR[colorIndex]);
                    $(id).css("color", FONTCOLOR[colorIndex]);
                    $(id).css("font-size", "12px");
                    $(id).css("text-align", "center");
                    $(id).attr("data-from",from);
                    $(id).attr("data-to",to);
                    $(id).on("click", function(){
                        popupReservationDialog($(this).attr("id"))
                    });

                    let increase = parseInt(i) + 30;
                    if((increase%100) === 60){
                        increase = increase - 60 + 100;
                    }
                    i =  parseInt(increase);
                    i = i < 1000 ? '0' + i : i;
                }
            });
        });
    }

    function popupReservationDialog(tdId){
        //ex) tdId=12303 = 12시30분, 수(3)
        $('#update-reservation-modal').modal('show');

        var yyyyMMddMonday = $("#hidden-monday").text();
        var mon = new Date(yyyyMMddMonday.substring(0,4) + "-" + yyyyMMddMonday.substring(4,6) + "-" + yyyyMMddMonday.substring(6));
        var weekOfDay = tdId.substring(4);
        var targetDate = new Date();
        targetDate.setDate(mon.getDate() + (parseInt(weekOfDay) - 1));
        var fromTime = $("#"+tdId).data().from;
        var toTime = $("#"+tdId).data().to;

        $.get("/reservations/"+selectedRoom.roomName + "/" + targetDate.yyyymmdd() + "/" + fromTime +"/" + toTime, function(result){
            $("#hidden-reservation-id").text(result.reservationId);
            $("#ur-date").val(result.reservedDate);
            $("#ur-time").val(result.reservedTimeFrom + "~" + result.reservedTimeTo);
            $("#ur-comment").val(result.comment);
        });
    }

    function getPreviousAndNextWeekday(){
        const today = $("#today").text();
        $.get("/dates/" + today, function(result){
            if(result && result.data){
                 $("#today").text(result.data.today);
                weekday.previousWeekDay = result.data.previousWeekDay;
                weekday.nextWeekDay = result.data.nextWeekDay;
                $("#hidden-monday").text(result.data.monday);
            }
        });
    }

    $("#ur-delete").on("click", function(){
        var reservationId = $("#hidden-reservation-id").text();

        $.ajax({
            url:"/reservation/" + reservationId,
            type:"DELETE",
            data:JSON.stringify(reservationId),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).always(function(response) {
            if(response && response.code == "0000"){
                clearTimeScheduleTable();
                drawTimeScheduleTable();
                getReservationsByRoomName(selectedRoom.roomName);
            }else{
                alert(response.responseJSON.message);
            }
        });
    });

    $("#ur-save").on("click", function(){
        var reservationId = $("#hidden-reservation-id").text();
        var postData ={
            reservedDate: $("#ur-date").val(),
            reservedTime: $("#ur-time").val(),
            comment: $("#ur-comment").val()
        };

        $.ajax({
            url:"/reservation/" + reservationId,
            type:"PUT",
            data:JSON.stringify(postData),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).always(function(response) {
            if(response && response.code == "0000"){
                clearTimeScheduleTable();
                drawTimeScheduleTable();
                getReservationsByRoomName(selectedRoom.roomName);
            }else{
                alert(response.responseJSON.message);
            }
        });
    });

    var weekday = {};
    $("#previous-week").on("click", function(){
        $("#today").text(weekday.previousWeekDay);
        getPreviousAndNextWeekday();
        drawTimeScheduleTable();
        getReservationsByRoomName(selectedRoom.roomName);
    });

    $("#next-week").on("click", function(){
        $("#today").text(weekday.nextWeekDay);
        getPreviousAndNextWeekday();
        drawTimeScheduleTable();
        getReservationsByRoomName(selectedRoom.roomName);
    });

    function drawToday(){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        mm = mm < 10 ? '0' + mm : mm;
        dd = dd < 10 ? '0' + dd : dd;

        today = yyyy + '-' + mm + '-' + dd;
        $("#today").text(today);

        getPreviousAndNextWeekday();
        return today;
    }

    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1;
        var dd = this.getDate();

        return [this.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('');
    };


</script>
</body>
</html>